// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.username {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.intro {
  height: 800px;
  background-image: url(image-path('main-bg.png'));
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 1120px 850px;
}

footer p {
  font-size: 18px;
  text-align: center;
}

.intro label {
  font-size: 32px;
  text-align: center;
}

.title {
  text-align: center;
}

.subtitle {
  color: #666;
  font-size: 18px;
  font-weight: 500;
}

.ranks {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.avatar {
  height: 75px;
  margin-bottom: 0px;
}

.avatar-bg {
  height: 190px;
  margin-right: 20px;
}

.table>thead>tr>th {
  text-align: center;
  font-size: 18px;
}

.table>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
}

.table.rank>tbody>tr>td {
  vertical-align: middle;
  text-align: left;
  font-size: 15px;
  border-top: none; 
}

.table.rank {
  margin-bottom: 0px !important;
}

.star {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.counter {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px !important;
}